@{
    ViewData["Title"] = "Home Page";
 
}
<html>
<head>
    <style>
        img{
            width:200px;
            height:200px;
        }
    </style>
</head>
    <body>  
        <div class="text-center">
            <h2 class="display-4">GET YOUR CAR NOW</h2>
            <img src="~/img/1.jpg">
            
        </div>
    </body>
</html>



