@{
    ViewData["Title"] = "Home Page";
 
}
<html>
<head>
    <style>
        img{
            width:200px;
            height:200px;
            
            
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">GET YOUR CAR NOW</h2>
        <a href="Car/CarIndex"><img src="~/img/toyota.png" style="width:450px;height:350px;margin-top:0px;"></a>

    </div>

   
</body>
</html>



